<div ng-controller="homeCtrl">
  <div class="container" ng-init="init()">
    <h1>New life</h1>
    <table class="responsive-table">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Deporte</th>
        <th>Edad</th>
        <th class="center-align">---</th>
      </thead>
      <tbody>
        <tr ng-repeat="r_usuario in s_usuario">
          <td>{[r_usuario._id]}</td>
          <td>{[r_usuario.nombre]}</td>
          <td>{[r_usuario.ap]}</td>
          <td>{[r_usuario.am]}</td>
          <td>{[r_usuario.deporte]}</td>
          <td>{[r_usuario.edad]}</td>
          <td>
            <a class="waves-effect waves-light btn" data-target="modal1" ng-click="btnEdit(r_usuario)"><i class="material-icons right">mode_edit</i>Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
     <!-- Modal Structure -->
     <div id="modal1" class="modal">
       <div class="modal-content">
         <h4>Usuario : {[g_nombre]}</h4>
         <p>{[g_id]}</p><hr>
         <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" ng-model="m_usuario.nombre">
                <label for="icon_prefix">Nombre</label>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="icon_telephone" type="tel" class="validate" ng-model="m_usuario.ap">
                <label for="icon_telephone">Apellido paterno</label>
              </div>
              <div class="input-field col s6">
                <input id="icon_telephone" type="tel" class="validate" ng-model="m_usuario.am">
                <label for="icon_telephone">Apellido materno</label>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="icon_telephone" type="tel" class="validate" ng-model="m_usuario.edad">
                <label for="icon_telephone">Edad</label>
              </div>
              <div class="input-field col s6">
                <input id="icon_telephone" type="tel" class="validate" ng-model="m_usuario.deporte">
                <label for="icon_telephone">Deporte</label>
              </div>
            </div>
          </form>
        </div>
       </div>
       <div class="modal-footer">
         <a href="#!" class="waves-green btn-flat" ng-click="btnDoEdit(m_usuario)">Editar</a>
       </div>
     </div>
  </div>
</div>
